#
# Copyright (C) 2024 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on early-init && property:ro.boot.product.hardware.sku=*
    setprop ro.boot.hardware.sku ${ro.boot.product.hardware.sku}
