#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

service mtk_secure_element_hal_service /vendor/bin/hw/android.hardware.secure_element@1.2-service-mediatek
    override
    class hal
    user secure_element
    group secure_element
    disabled

service vendor.secure_element /vendor/bin/hw/vendor.microtrust.hardware.se@1.0-service
    override
    class late_start
    user system
    group nfc
    disabled

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.nxp
    override
    class early_hal
    user nfc
    group nfc
    disabled

on boot && property:ro.boot.product.hardware.sku=xaga
    enable mtk_secure_element_hal_service
    enable vendor.secure_element
    enable vendor.nfc_hal_service

on boot && property:ro.boot.product.hardware.sku=xagapro
    enable mtk_secure_element_hal_service
    enable vendor.secure_element
    enable vendor.nfc_hal_service

on boot && property:ro.boot.product.hardware.sku=xaga && property:ro.boot.hwc=GL
    setprop bluetooth.device.default_name "POCO X4 GT"

on boot && property:ro.boot.product.hardware.sku=xaga && property:ro.boot.hwc=CN
    setprop bluetooth.device.default_name "Redmi Note 11T Pro"

on boot && property:ro.boot.product.hardware.sku=xagain
    setprop bluetooth.device.default_name "Redmi K50i"

on boot && property:ro.boot.product.hardware.sku=xagapro && property:ro.boot.hwc=GL
    setprop bluetooth.device.default_name "POCO X4 GT Pro"

on boot && property:ro.boot.product.hardware.sku=xagapro && property:ro.boot.hwc=CN
    setprop bluetooth.device.default_name "Redmi Note 11T Pro+"

on boot && property:ro.boot.product.hardware.sku=xagaproin
    setprop bluetooth.device.default_name "Redmi K50i Pro"
